<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shorturl.mapper.ShortUrlMapper">

    <update id="updateVisitCount">
        UPDATE short_url
        SET visit_count = visit_count + 1
        WHERE short_code = #{shortCode}
    </update>

    <delete id="deleteExpired">
        DELETE
        FROM short_url
        WHERE expire_at IS NOT NULL
          AND expire_at &lt; #{currentTime}
    </delete>
</mapper>
